<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Daily account entry advance filter view</title>
{% load static %}
<link rel="stylesheet" href="{% static 'mystyle.css' %}">

</head>
<body>
<h1>welcome</h1>
<h2>Advance filter account entry report</h2>
<p>Total {{ coun1 }} records found.</p>
<table>
<tr>
<th>Date</th>
<th>Credit_debit</th>
<th>Account</th>
<th>Category</th>
<th>Particular</th>
<th>Amount</th>
<th>Name</th>
<th>Notes</th>
<th>Update</th>
</tr>
{% for x in daily_account_entry_filter %}
<tr>
<td>{{ x.date }}</td>
<td>{{ x.credit_debit }}</td>
<td>{{ x.account }}</td>
<td>{{ x.category }}</td>
<td>{{ x.particular }}</td>
<td>{{ x.amount }}</td>
<td>{{ x.name}}</td>
<td>{{ x.notes }}</td>
<td><a href="update_account_entry/{{ x.id }}" target="_blank">Update</a></td>
</tr>
{% endfor %}
</table>

</body>
</html>