<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cash balance check sheet</title>
</head>
<body>
<h1>Balance check list view</h1>
<table border= "1pt">
<tr>
<th>Date</th>
<th>Amount</th>
<th>Total_amount</th>
<th>Balance_amount</th>
<th>Rs500</th>
<th>Rs200</th>
<th>Rs100</th>
<th>Rs50</th>
<th>Rs20</th>
<th>Rs10</th>
<th>Rs5</th>
<th>Rs2</th>
<th>Rs1</th>
<th>status</th>
<th>Update</th>
</tr>
{% for x in balance %}
<tr>
<td>{{ x.date }}</td>
<td> {{ x.amount }}</td>
<td> {{ x.total_amount }}</td>
<td> {{ x.balance_amount }}</td>
<td> {{ x.rs500 }}</td>
<td> {{ x.rs200 }}</td>
<td> {{ x.rs100 }}</td>
<td> {{ x.rs50 }}</td>
<td> {{ x.rs20 }}</td>
<td> {{ x.rs10 }}</td>
<td> {{ x.rs5 }}</td>
<td> {{ x.rs2 }}</td>
<td> {{ x.rs1 }}</td>
<td> {{ x.status }}</td>
<td><a href="/update_balance/{{ x.id }}/{{ x.date }}">Update</a></td>
</tr>
{% endfor %}
</table>
<hr/>
<form action="cash_check/" method="post">
{% csrf_token %}
<p>Enter the date to cash check: <input type="date" name="filter_date" value="{% now "Y-m-d" %}" placeholder="Select the date here:"></p>
<p><input type="submit" value="Submit"></p>
</form>
</body>
</html>