<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My daily account entry</title>
</head>
<body>
<h1><marquee>Daily account entry</marquee></h1>
<hr />

<h2>Account entry</h2>
<table>
<tr>
<th>Links</th>
</tr>
<tr>
<td><a href="/add" target="_blank">Add account entry</a></td>
</tr>
<tr>
<td><a href="/add_category" target="_blank">Add category</a></td>
</tr>
<tr>
<td><a href="/category_view" target="_blank">Category view</a></td>
</tr>
<tr>
<td><a href="/balance_view/" target="_blank">Cash balance view</a></td>
</tr>
<tr>
<td><a href="/account_entry_report" target="_blank">Account entry report</a></td>
</tr>
<tr>
<td><a href="/daily_account_report" target="_blank">Daily account total report</a></td>
</tr>

<tr>
<td><a href="/credit" target="_blank">Credit balance report</a></td>
</tr>
</table>

</body>
</html>