<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My daily account entry</title>
{% load static %}
<link rel="stylesheet" href="{% static 'mystyle.css' %}">

</head>
<body>
<h1>Daily account entry</h1>
<hr />

<h2>Account entry</h2>
<table>
<tr>
<th>Links</th>
</tr>
<tr>
<td><a href="/add" target="_blank">Add account entry</a></td>
</tr>
<tr>
<td><a href="/add_category" target="_blank">Add category</a></td>
</tr>
<tr>
<td><a href="/category_view" target="_blank">Category view</a></td>
</tr>
<tr>
<td><a href="/balance_view" target="_blank">Cash balance view</a></td>
</tr>
<tr>
<td><a href="/account_entry_report" target="_blank">Account entry report</a></td>
</tr>
<tr>
<td><a href="/filter" target="_blank">Account entry advance filter report</a></td>
</tr>

<tr>
<td><a href="/daily_account_report" target="_blank">Daily account total report</a></td>
</tr>

<tr>
<td><a href="/credit" target="_blank">Credit balance report</a></td>
</tr>
</table>
<h2>Difference check</h2>
<p><a href="difference_check/Aadhaar ATM transaction in/Aadhaar ATM money out">Aadhaar ATM transaction in   Aadhaar ATM money out</a></p>
<p><a href="difference_check/By mobile recharge/Mobile recharge">By mobile recharge   Mobile recharge</a></p>
<p><a href="difference_check/Money in for transaction out/Transaction out by money in">Money in for transaction out   Transaction out by money in</a></p>
<p><a href="difference_check/Transaction in for money out/Money out by transaction in">Transaction in for money out   Money out by transaction in</a></p>
<p><a href="difference_check/Transaction in for transaction out/Transaction out by transaction in">Transaction in for transaction out   Transaction out by transaction in</a></p>
<p><a href="difference_check/Transaction out for transaction in/Transaction in by transaction out">Transaction out for transaction in   Transaction in by transaction out</a></p>
<p><a href="difference_check/Wallet Deposit for recharge/Wallet money added">Wallet Deposit for recharge   Wallet money added</a></p>

</body>
</html>