<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My daily account entry</title>
</head>
<body>
<h1><marquee>Daily account entry</marquee></h1>
<hr />

<h2>Account entry</h2>
<table>
<tr>
<th>Links</th>
</tr>
<tr>
<td><a href="/add" target="_blank">Add account entry</a></td>
</tr>
<tr>
<td><a href="/add_category" target="_blank">Add category</a></td>
</tr>
<tr>
<td><a href="/category_view" target="_blank">Category view</a></td>
</tr>
<tr>
<td><a href="/sample" target="_blank">Testing page</a></td>
</tr>

</table>

</body>
</html>