<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My favorite web page</title>
</head>
<body>
<h1>welcome</h1>
<h2>list</h2>
<p>The total balance amount in cash account: {{ account1 }}.</p>
<p>The total balance amount in cash account: {{ account2 }}.</p>
<p>The total balance amount in cash account: {{ account3 }}.</p>
<p>The total balance amount in cash account: {{ account4 }}.</p>
<p>The total balance amount in cash account: {{ account5 }}.</p>
<p>The total balance amount in cash account: {{ account6 }}.</p>
<p>The total balance amount in cash account: {{ account7 }}.</p>
<p>The total balance amount in cash account: {{ account8 }}.</p>
<p>The total balance amount in cash account: {{ account9 }}.</p>
</body>
</html>