<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My daily account entry report page</title>
</head>
<body>
<h1>Account entry report</h1>
<table border="2pt">
<tr>
<th>Account</th>
<th>Balance amount</th>
</tr>
<tr>
<td>Cash</td>
<td>{{ account1 }}</td>
</tr>
<tr>
<td>EPay On</td>
<td>{{ account2 }}</td>
</tr>
<tr>
<td>IOB Mohan</td>
<td>{{ account3 }}</td>
</tr>
<tr>
<td>Indian bank Gayathri</td>
<td>{{ account4 }}</td>
</tr>
<tr>
<td>Indian bank Mohan</td>
<td>{{ account5 }}</td>
</tr>
<tr>
<td>Jio Pos Lite</td>
<td>{{ account6 }}</td>
</tr>
<tr>
<td>Mohan Canara Bank</td>
<td>{{ account7 }}</td>
</tr>
<tr>
<td>Pay Near by</td>
<td>{{ account8 }}</td>
</tr>
<tr>
<td>SBI Mohan</td>
<td>{{ account9 }}</td>
</tr>
<tr>
<td>Total amount:</td>
<td>total amount</td>
</tr>
</table>
</body>
</html>